{% extends 'base.html' %}
{% block title %}
Create tasks
{% endblock %}

{% block content %}
<h1>Create new task</h1>

<form method="post">
    {% csrf_token %}
    {{ form.title }}
    {{ form.task }}
    {{ form.deadline }}
    {{ form.location }}
    <input type="text" placeholder="Введите название" class="form-control"><br>
    <textarea type="text" placeholder="Введите описание" rows="10" class="form-control"></textarea><br>
    <input type="date" placeholder="Срок выполнения" class="form-control"><br>
    <input type="text" placeholder="Локация выполнения" class="form-control"><br>
    <button type="submit" class="btn btn-success">Добавить</button>
</form>
{% endblock %}