{% extends 'base.html' %}
{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<h1>Main page</h1>
<details>
<summary>
    Create new task
</summary>

<form method="post">
    {% csrf_token %}
    {{ form.title }}<br>
    {{ form.task }}<br>
    {{ form.deadline }}<br>
    {{ form.location }}<br>
    <button type="submit" class="btn btn-success">Добавить</button>
</form>
</details>

    {% if tasks %}
    {% for el in tasks %}
    <div class="alert alert-warning mt-2">
        <h3>{{ el.title }}</h3>
        <p>{{el.task}}</p>
        <p>{{el.deadline}}</p>
    </div>
    {% endfor %}
    {% else %}
        <p>Текущих задач не найдено</p>
    {% endif %}
{% endblock %}

